## Deliverable 2. Create a Customer Travel Destinations Map.

In [ ]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [ ]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 80

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Ullal,IN,12.8000,74.8500,75.20,83,0,5.75,mist
3,3,Port Moresby,PG,-9.4431,147.1797,75.20,94,75,10.36,moderate rain
5,5,Rikitea,PF,-23.1203,-134.9692,79.57,70,0,10.74,clear sky
6,6,Rio Gallegos,AR,-51.6226,-69.2181,62.60,34,0,16.11,clear sky
7,7,Cape Town,ZA,-33.9258,18.4232,71.01,77,75,5.75,broken clouds
9,9,Chimore,BO,-16.9833,-65.1333,74.23,95,100,1.63,overcast clouds
10,10,Kaitangata,NZ,-46.2817,169.8464,61.00,80,100,14.00,overcast clouds
11,11,Manama,BH,26.2154,50.5832,64.40,59,0,14.97,clear sky
12,12,Ambilobe,MG,-13.2000,49.0500,72.61,93,0,2.53,clear sky
14,14,Ribeira Grande,PT,38.5167,-28.7000,63.16,91,97,22.06,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                5
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_df = preferred_cities_df.dropna()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Ullal,IN,75.20,mist,12.8000,74.8500,
3,Port Moresby,PG,75.20,moderate rain,-9.4431,147.1797,
5,Rikitea,PF,79.57,clear sky,-23.1203,-134.9692,
6,Rio Gallegos,AR,62.60,clear sky,-51.6226,-69.2181,
7,Cape Town,ZA,71.01,broken clouds,-33.9258,18.4232,
9,Chimore,BO,74.23,overcast clouds,-16.9833,-65.1333,
10,Kaitangata,NZ,61.00,overcast clouds,-46.2817,169.8464,
11,Manama,BH,64.40,clear sky,26.2154,50.5832,
12,Ambilobe,MG,72.61,clear sky,-13.2000,49.0500,
14,Ribeira Grande,PT,63.16,overcast clouds,38.5167,-28.7000,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [10]:
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Ullal,IN,75.20,mist,12.8000,74.8500,AK INTERNATIONAL LODGE
3,Port Moresby,PG,75.20,moderate rain,-9.4431,147.1797,Lamana Hotel
5,Rikitea,PF,79.57,clear sky,-23.1203,-134.9692,Pension Maro'i
6,Rio Gallegos,AR,62.60,clear sky,-51.6226,-69.2181,Hotel Santa Cruz
7,Cape Town,ZA,71.01,broken clouds,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
9,Chimore,BO,74.23,overcast clouds,-16.9833,-65.1333,Bichito
10,Kaitangata,NZ,61.00,overcast clouds,-46.2817,169.8464,Kaitangata Motor Camp
11,Manama,BH,64.40,clear sky,26.2154,50.5832,Al Safir Hotel & Tower
12,Ambilobe,MG,72.61,clear sky,-13.2000,49.0500,HÃ´tel & Restaurant DIANA Ambilobe
14,Ribeira Grande,PT,63.16,overcast clouds,38.5167,-28.7000,Quinta da Meia Eira

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [20]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))